<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test1"   >
        <parameter name="browser" value="${browser}"/>
        <groups>
            <run>
                <include name="uitest"/>
                <exclude name="broken"/>
            </run>
        </groups>
        <classes>
            <class name="githubTests.GithubTests"/>
        </classes>
    </test>
</suite>